<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCboFY0YW1RHiIJNa67r5oyyreTXi5b7xw</string>
	<key>GCM_SENDER_ID</key>
	<string>361206731467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oyuncakkredi.appname</string>
	<key>PROJECT_ID</key>
	<string>oyuncakkredi</string>
	<key>STORAGE_BUCKET</key>
	<string>oyuncakkredi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361206731467:ios:8747ad53725b7e5e45814e</string>
</dict>
</plist>